@font-face {
  font-family: "B612";
  src: url("/fonts/B612-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "B612";
  src: url("/fonts/B612-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "B612";
  src: url("/fonts/B612-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "B612";
  src: url("/fonts/B612-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "B612", sans-serif;
  background-image: linear-gradient(to bottom, #333333, #000000);
}
.container {
  margin-top: 2rem;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 16px;
}
.text {
  font-family: "B612", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 4px 10px rgba(255,255,255,0.2);
}
.glass-container {
  position: relative;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.glass-container:hover { transform: scale(1.02); }
.glass-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
}
.glass-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), transparent, rgba(255, 255, 255, 0.3));
}
.glass-container video {
  border-radius: 1rem;
  width: 900px;
  justify-content: center;
  align-items: center;
}
.video-title {
  font-family: "B612", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.contacts {
  font-family: "B612", sans-serif;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
  color: white;
  font-size: 18px;
}
.logos-container {
  position: absolute;
  display: flex;
  gap: 1rem;

  &.left {
    top: 1rem;
    left: 1rem;
  }
  &.right {
    top: 1rem;
    right: 1rem;
  }
}
.logos-container img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* Мобильные устройства */
@media (max-width: 576px) {
  .glass-container video { width: 300px; }
  .text { font-size: 12px; }
  .contacts span { display: none; }
  .glass-container {
    padding: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .container { padding: 0 8px; }
  .contacts {
    flex-direction: row;
    padding: 0.5rem;
  }
  .logos-container {
    &.left {
      top: 0.5rem;
    }
    &.right {
      top: auto;
      bottom: 0.5rem;
      right: 0.5rem;
    }
  }
  .logos-container img {
    width: 24px;
    height: 24px;
  }
}
/* Планшеты портрет */
@media (min-width: 577px) and (max-width: 768px) {
  .glass-container video { width: 500px; }
  .text { font-size: 14px; }
  .video-title { font-size: 18px; }
  .contacts span { display: none; }
  .glass-container {
    padding: 2rem;
    flex-direction: column;
  }
  .contacts {
    flex-direction: row;
    padding: 0.5rem;
  }
  .logos-container {
    &.left {
      top: 0.5rem;
    }
    &.right {
      top: auto;
      bottom: 0.5rem;
      right: 0.5rem;
    }
  }
  .logos-container img {
    width: 24px;
    height: 24px;
  }
}
/* Планшеты альбом / малые ноуты */
@media (min-width: 769px) and (max-width: 992px) {
  .text { font-size: 14px; }
  .video-title { font-size: 28px; }
  .glass-container video { width: 700px; }
  .glass-container { flex-direction: column; }
  .logos-container {
    &.left {
      top: 0.5rem;
    }
    &.right {
      top: auto;
      bottom: 0.5rem;
      right: 0.5rem;
    }
  }
  .logos-container img {
    width: 28px;
    height: 28px;
  }
  .contacts span { display: none; }
  .contacts { flex-direction: row; }
}
/* Ноутбуки */
@media (min-width: 993px) and (max-width: 1400px) {
  .text { font-size: 16px; }
  .video-title { font-size: 36px; }
  .glass-container video { width: 850px; }
  .contacts { font-size: 14px; }
}
