.before-after-image-slider-container {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
  width: 40%;
  max-width: 1200px;
  min-width: 500px;
}
.before-after-image-slider-container img {
  display: block;
  max-width: 100%;
}
.before-after-image-slider-container .slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.before-after-image-slider-container .image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}
.before-after-image-slider-container .slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.before-after-image-slider-container .slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}
.before-after-image-slider-container .slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}
.before-after-image-slider-container .slider-button {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
}
